<footer class="fixed-bottom">
    <nav class="navbar sticky-bottom text-white">
      <div class="container-fluid">
        
          <img
            src="/images/Home1.jfif"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Java Joes Coffee Shop, 
        </a>
        
        <p>JavaJoesCoffeeShop@gmail.com</p>
      </div>
    </nav>
  </footer>