<%- include('../partials/head.ejs') %>

<body>
  <div class="Header">
    <div class="mt-4 p-3 text-white rounded">
        <h1><%= title %></h1>
  </div>
</div>
  <%- include('../partials/menu.ejs') %>
<div class="container-fluid">
  <div class="aboutContainer">

  <h2>What Java Joes STANDS for...</h2>
<p>We bring warm roasted joy to an otherwise stressful part of your day. Get the most out of your day when you start it at Java Joes.</p>
</div>
</div>
<div class="container-fluid">
  <div class="aboutimages d-flex">
    <img src="/images/Owner1.jfif" style="width: 300px; height: 200px"/>
    <img src="/images/Owner2.jfif" style="width: 300px; height: 200px"/>
    <img src="/images/Owner3.jfif" style="width: 300px; height: 200px"/>
  </div>
  <div class="captions">
    <p>Helio's Dream was to Own and Compete against Starbucks one day. With Joe as his business partner, He believes the world in what this brand can do.</p>
    <p>Marcus loves the thrill of striking up conversation with diverse and captivating people each day. Head of marketing, social media, and retail, Marcus has a knack for people skills and no lack of communication ability.</p>
    <p>Joe and Bailey  have had a life long dream to create an atmosphere for Business men  and women to be able to relax, enjoy the atmosphere and work on solo or group projects with slow roasted coffee and artisan baked delicacies.</p>


  </div>
  
  
</div>
<%- include("../partials/footer") %>
</body>
</html>