<%- include('../partials/head.ejs') %>

<body>
    <div class="Header">
        <div class="mt-4 p-3 text-white rounded">
            <h1><%= title %></h1>
      </div>
    </div>

    <%- include('../partials/menu.ejs') %>
    <div class="HomePageHead1 d-flex">
        <h2>Make yourself at Home. Peace and Comfort within</h2>
        <img src="/images/Home2.jfif" style="width: 300px; height: 200px"/>
        <img src="/images/home1.jfif" style="width: 300px; height: 200px"/>
    
</div>
    <div class="HomePageHead2 d-flex">

        <img src="/images/Coffee App1.jfif" style="width: 300px; height: 200px"/>
        
        <img src="/images/Coffee App2.jfif" style="width: 300px; height: 200px"/>

        <h2>Make the Most of your Morning Commute with our Order Ahead option on JavaJoes App.</h2>
        
    </div>
    
    <div class="HomePageHead3 d-flex">
    
        <h2>Don't forget the freshly baked pastries for the sweet tooth or the tart tastebuds.</h2>
    
        <img src="/images/Pastry1.jfif" style="width: 300px; height: 200px"/>
        <img src="/images/Pastry2.jfif" style="width: 300px; height: 200px"/>
    

        </div>


<%- include('../partials/footer.ejs') %>
    </div>
    
</body>
</html>